* {
   margin: 0;
   padding: 0;
}

a {text-decoration: none;
color: #080808;
font-family: 'Lobster', cursive;
} 

body {
   font-family: 'Lobster', cursive;
   background-color: #02020241;
   color: #000000;
}

.logo h1 {
   color: #000000;
   font-size: 42px;
   font-weight: 800;
   font-family: 'Lobster', cursive;
}

h1 {
   font-size: 158px;
   font-weight: 100;
   color: #ffffff;
   font-family: 'Bad Script', cursive;
}



.hero {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 60vh;
   background-size: cover;
   background-image: url(img/Ebns10zXkAU1oFK.jpg);
   
   background-position: center
}

.cards {
   padding: 20px 100px;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-evenly;
}

h2 {
   text-align: center;
   margin: 20px 0px;
}

.card {
   text-align: center;
   box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.993);
   transition: 0.3s;
   padding: 15px 15px;
   width: 20vw;
}

.card h3 {
   margin-top: 40px;
}

.card .foto1 {
   background-image: url(./img/10704095.jpg);
   background-size: cover;
   background-position: center;
   padding: 90px 40px;
}

.card .foto2 {
   background-image: url(./img/92d59ce6dafe95a7dce087d746ab4b9e.jpg);
   background-size: cover;
   background-position: center;
   padding: 90px 40px;
}

.card .foto3 {
   background-image: url(./img/HD-wallpaper-adidas-adidas-stripes-thumbnail.jpg);
   background-size: cover;
   background-position: center;
   padding: 90px 40px;
}


.card:hover {
   box-shadow: 3px 6px 12px 0 rgba(0, 0, 0, 0.2);
}

nav {
   background-color: #29282831;
   height: 10vh;
   padding: 16px 0px;
   color: #000000;
position: sticky;
top: 0px;
   font-size: 22px;
}

.card ul {
   text-orientation: sideways;
   text-decoration: none;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.card li {
   list-style: none;
}

nav ul {
   text-orientation: sideways;
   text-decoration: none;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

nav li {
   list-style: none;
   text-decoration: none;
}


.footer{
   margin-top: 80px;
   padding: 30px;
   background-color: #00000080;
}

.footer ul{
   text-decoration: none;
}

.card .NIKE {
   background-image: url(./img/nike.jpg);
   background-size: cover;
   background-position: center;
   padding: 220px 40px;
}

.card .PUMA {
   background-image: url(./img/puma.jpg);
   background-size: cover;
   background-position: center;
   padding: 220px 40px;
}

.card .ADIDAS {
   background-image: url(./img/adidas.jpg);
   background-size: cover;
   background-position: center;
   padding: 220px 40px;
}